<div id="main">
<!-- <section class="dashboard">
    <form action= '/dashboard' method="get">
	<p class = "bottun"><input type="submit" value="dashboard"></p>
</section> -->
<!-- if answer is faild, display the messages
 -->
<p class="error">
<%if @answer || @upvote || @downvote  %>

<section class="message"><%= @errors if @errors%></section>

<% end %>
</p>

<!-- go back dashboard -->
<section class="dashboard">
    <form action= '/dashboard' method="get">
      <p class = "bottun"><input type="submit" value="dashboard"></p>
  </form>
</section>


<!-- display question -->
<section class="special_posted_question">
      <div class="posted_questions">
      <% @posted_qusetion = Question.find(params[:id])%>
      <p><%=@posted_qusetion.question_description %>/
            <a href="/users/<%= @posted_qusetion.user.id %>">
                  <%=@posted_qusetion.user.first_name %> <%=@posted_qusetion.user.last_name %>
            </a>
      </p>
      </div>
</section>




<!-- create answer -->
<section class="answer">

 <form action= '/questions/<%= params[:id] %>/answers' method="post">
	<input type="text" name="description" class="form_answer"
	placeholder="what is your answer ?">
	<input type="hidden" value=<%= params[:id] %> name="question_id">
	<p class = "bottun_post"><input type="submit" value="post"></p>

</form>
</section>

<!-- display answer -->
<p>answer<p>
<section class="posted_answer">
      <div class="posted_answer">
      <% @posted_answer = Answer.where("question_id = ?",params[:id])%>
      <% @posted_answer.each do |answers| %>
      	<p><%= answers.answer_description %>/
      	<%= answers.user.first_name %>
      	<%= answers.user.last_name %></p>
      	

    

<!-- vote   -->
<section class="vote">   
    <div style="display:inline-flex">
    
      <form action= '/questions/<%=params[:id] %>/answers/<%= answers.id %>/upvote' method="post">
       <input type="hidden" value=<%= 1 %> name="good">
       <p class = "bottun_1"><input type="submit" value="upvote">
       </p>
      </form>
      <form action= '/questions/<%=params[:id] %>/answers/<%= answers.id %>/downvote' method="post">
        <input type="hidden" value=<%= 0 %> name="bad">
        <p class = "bottun_1"><input type="submit" value="downvote">
      </p>
      </form>
   </div>
    </section>

    <% end%>
	
    </div>
</section>








