<div id="main">
	<p>name:
	 <% @user = User.find(params[:id])%>
     <%=@user.first_name %>
        <%=@user.last_name %>
     </p>

    <!-- go dashboard -->
	<section class="dashboard">
    <p>go dashboard</p>
    <form action= '/dashboard' method="get">
	<p class = "bottun"><input type="submit" value="dashboard"></p>
    </form>
    </section>

    <!-- logout -->
	<section class="logout">
	<form action= '/logout' method="post">
		<p class = "bottun"><input type="submit" value="logout"></p>
	</form>
	</section>

	 <!-- all user's question and edit-->
	 <section class="user_question">
	 <h4>my all question</h4>

	  <div class="posted_question">
	  <% @user.questions.each do |questions| %>
	  <p><%= questions.question_description %></p>

	  <div class="edit">
	  <% if current_user.id == @user.id %> 
      <form action= '/questions/<%= questions.id %>/edit' method="get">
            <p class = "bottun"><input type="submit" value="edit"></p>
      </form>
      <% end %>
      </div>

	  <% end%>
	 	
	 </section>

	      <!-- all user's answer -->
	 <section class="user_answer">
	 <h4>my all answer</h4>
	 <div class="posted_answer">
	  <% @user.answers.each do |answers| %>
	  <p><%= answers.answer_description %></p>
	 
	
	    <div class="edit">
	    <% if current_user.id == @user.id %> 
	      <form action= '/answers/<%= answers.id %>/edit' method="get">
	            <p class = "bottun"><input type="submit" value="edit"></p>
	      </form>
	    <% end %>
      </div> 


     <% end%>
	

	 	
	 </section>



	
</div>





