<div id="main">
<!-- logout -->
<section class="logout">
<form action= '/logout' method="post">
	<p class = "bottun"><input type="submit" value="logout"></p>
</form>

<a class= "mypage" href="/users/<%= current_user.id %>">
      go to my page
</a>

</section>
<!-- if sign up is faild, display the messages
 -->
<p class="error">
<%if @question || @upvote || @downvote  %>

<section class="message"><%= @errors if @errors%></section>

<% end %>
</p>


<!-- create question -->
<section class="question">
<h2>What is your question?</h2>
 <form action= '/questions' method="post">
	<p><input type="text" name="description" class="form"
	placeholder="what is your question ?"></p>
	<p class = "bottun_post"><input type="submit" value="post"></p>
</form>
<!-- display all question and answerform-->
<!-- all question-->
<section class="all_posted_question">

<% @posted_questions.reverse_each  do |question| %>
      <div class="posted_questions">
        <p><a href="/questions/<%= question.id %>">
          <%= question.question_description%></a>
        /<%= question.user.first_name %> <%= question.user.last_name %></p>
      </div>

 <!-- answer form -->  
    <form action= '/questions/<%= question.id %>/answers' method="post">
	<p><input type="answwer_text" name="description" class="form_answer"
	placeholder="answer the question">
	<input type="hidden" value=<%= question.id %> name="question_id"></p>
	<p class = "post_bottun"><input type="submit" value="post answer"></p>

     </form>
 
    
<!-- vote   -->
    <section class="vote">   
    <div style="display:inline-flex">
    
    <form action= '/questions/<%= question.id %>/upvote' method="post">
    <input type="hidden" value=<%= 1 %> name="good">
	<p class = "bottun_1"><input type="submit" value="upvote">
	</p>
    </form>
    <form action= '/questions/<%= question.id %>/downvote' method="post">
    <input type="hidden" value=<%= 0 %> name="bad">
	<p class = "bottun_1"><input type="submit" value="downvote">
	</p>
    </form>
   </div>
    </section>


  <% end %>

</section>


<!-- if sign up is faild, display the messages
 -->
<!-- <p class="error">
<%if @question  %>

<section class="message"><%= @errors if @errors%></section>

<% end %>
</p> -->

</div>
